

.card{
    display: flex;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 30%);
    margin: 0 auto;
    margin-bottom: 1rem;
    height: 5rem;
    width: 31rem;
    text-align: center;
    align-items: center;
    text-decoration: none;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 300ms ease-in-out 0s;
    border-bottom: 1px solid rgb(224, 165, 0);
    box-shadow: 0 2px 4px rgb(250, 228, 166);
}
.card:active{
    transform: scale(0.9);
    transition: transform 300ms ease-in-out 0s;
}
.card-body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.card-email{
    font-size: 11px;
    margin-top: -1rem;
    margin-left: 8px;
}
.card-title {
    font-size: 20px;
    margin-bottom: 1rem;
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card-cnpj{
    font-size: 11px;
    font-style: italic;
    color: #ff8300;
    font-weight: 500;
}
.card-text {
    font-size: 13px;
    color: #000;
}
.card-img {
    width: 4rem;
    height: 5rem;
    border-radius: 9px;
}
