
.header {
  background-color: #d3d3d3;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.user {
  display: flex;
  position: absolute;
  right: 1rem;
}
.user-name{
  font-size: 1.4rem;
  margin-bottom: 0.1rem;
  color: #fff;
  margin-top: 0.8rem;
  border-bottom: 1px solid #db9f0047;
}
.btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profileBtn{
  background-color: transparent;
  color: #db9f00;
  font-size: 11px;    
  cursor: pointer;
  font-weight: 500;
  border: none;
  text-decoration: none;
  margin-right: 1rem;
}
.profileBtn:hover{
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}
.outBtn{
  background-color: transparent;
  color: #db9f00;
  font-size: 11px;  cursor: pointer;
  font-weight: 500;
  border: none;
}

.logo{
  width: 3rem;
  margin-left: 4px;
  margin-top: 1px;
}
.logoBtn:hover{
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.menus{
  position: absolute;
  left: 11rem;
  top: -0.4rem;
  color: #ffa600;
  font-weight: 100;
  font-family: system-ui;
}
.menus:hover{
  cursor: pointer;
  color: #ffa600;
  text-shadow: 0px 0px 3px #ffa600;
}



.searchBtn, .profileBtn,.outBtn{
  background: transparent;
  border:none;
  width: 100%;
}
.searchBtn{
  cursor: pointer;
}
.Lupa{
  width:20px;
}
.Profile{
  width:20px;

}
.Out{
  width:20px;
}


.img-home-icon{
  width: 2.8rem;
  margin-left: -35px;
  margin-top: -4rem;
}

.search{
  display: flex;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  right: 3rem;
  margin-right: 2rem;
}
.search input{
  width: 68%;
  border: none;
  outline: none;
  font-size: 15px;
  color: #000;
  box-shadow: 0px 2px 5px -2px #000;
  padding: 5px;
  border-radius: 5px;
}
.search input::placeholder{
  color: rgb(134, 134, 134);
}

.search button{
  border: none;
  outline: none;
  height: 27px;
  width: 45px;
  transition: background-color 1s ease-out;
}
.search button:hover{
  cursor: pointer;
}
.lupa{
  height: 1rem;
}





.nav__cont {
  position: fixed;
  width: 60px;
  top:0;
  height: 100vh;
  z-index: 100;
  background-color: #202020;
  overflow:hidden;
  transition:width .3s ease;
  cursor:pointer;
  box-shadow:4px 7px 10px rgba(0,0,0,.4);
  
}
.nav__cont:hover {
  width:200px;
} 

.nav {
  list-style-type: none;
  color:white;
  margin-top: 4rem;
}
.nav:first-child{
  padding-top:1.5rem;

}
.nav__items {
  padding-bottom:4rem;
  font-family: 'roboto';
  display:flex;
  align-items: center;
}
  .nav__items a{
    position: relative;
    display: block;
    top: -29px;
    padding-right: 15px;
    transition: all .3s ease;
    margin-left: 20px;
    margin-right: 12px;
    text-decoration: none;
    color: white;
    font-family: 'roboto';
    font-weight: 100;
    font-size: 1.35em;
  }
  .nav__items a:hover{
    color: #db9f00;
    transition:all .5s ease;

  }
  .nav__items:hover{
    transform: scale(1.03);
    transition:all .5s ease;
  }

  .nav__items:hover a:after {
    opacity:1;
  }


h1 {
  margin-top: 6rem;
  margin-left:80px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 4rem;
  text-transform:uppercase;
  color:white;
  letter-spacing:6px;
  text-shadow:10px 10px 10px rgba(0,0,0,.3);
}


